*{margin: 0; padding: 0;}

body{
	width: 960px;
	margin: 0 auto;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

img{
	border: 0;
}

#page-wrapper{
    background-color:brown;
}

header{
    height: 100px;
    line-height: 100px;
    text-align: center;
}

#main-menu{
    border: 1px solid black;
    height: 600px;
    padding-top: 100px;
}

.menu-button{
    height: 70px;
    margin: 30px auto;
    padding: 10px; 
    background-color: white;
    text-align: center;
    display: block;
    
}

.menu-button div{
    display: none;
}

#game-description-content{
    display: none;
    background-color: white;
}

#option-content{
    display: none;
    background-color:white;
}

#engineer-info-content{
    display: none;
    background-color: white;
    text-align: center;
}

.popup{
	position:fixed;
	top:0;
	left:0;
	background-color: white;
	padding:30px 20px;
	z-index: 1;
	width: 500px;
    height: 300px;
	border:1px solid black;
    overflow: scroll;
}

