*{margin: 0; padding: 0;}

input{
    display: none;
}
body{
    font-family: 'Black And White Picture', sans-serif;
    background-image: url("../resources/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
	width: 960px;
	margin: 0 auto;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

img{
	border: 0;
}

.text-btn{
    position: inherit ;
    height: 50px;
    margin: 15px auto;
    text-align: center;
    display: block;
    font-size: 20px;
    color: rgb(177, 177, 177);
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
    cursor: pointer;

}
.text-btn:hover{
    color: white;
}

#game-scn{
    display: none;
}
#game-preview{
    display: none;
    overflow: hidden;
}
#game-script{
    margin-top: 30px;
}
.popup-pre{
	position:fixed;
	top:0;
	left:0;
	background-color: black;
    text-align: center;
    color: white;
    padding: 10px 10px 10px 10px;
	z-index: 1;
	width: 1000px;
    height: 500px;
	border:2px solid black;
    border-radius: 5px;
}

#game-level{
    padding-top: 100px;
    /* border: 1px solid green; */
    height: 600px;
    width: 900px;
    /* background-color: white; */
    
   
    text-align: center;
}
#go-back{
    position: fixed;
    bottom: 0;
}
.game-level-button {
    height: 300px;
    width: 300px;
    text-align: center;
    line-height: 300px;
    margin: 3px;
    border: 2px solid white;
    float: left;
    color: white;
    font-size: 50px;
    background-color: black;
}
.select-level{
    margin: 0 auto;
    width: 930px;
    height: 350px;
    
    display: hidden; 
}

#game{
    position: relative;
    height: 800px;
    border-color: black;
    display: none;
}

#time{
    position: absolute;
    top: 0; left: 0;
    width: 200px; height: 70px;
    line-height: 70px;
    text-align: center;
    border: 4px dotted brown;
    border-radius: 10px;
    font-size: 20px;
}

#life{
    position: absolute;
    top: 0; right: 0;
    width: 350px; height: 70px;
    border: 4px dotted brown;
    border-radius: 10px;
}

.l_img{
    float: right;
    margin: 10px;
}

#game-screen {
    position: absolute;
    top: 170px; left: 0;
}

#myCanvas {
    margin: 0 auto;
    background-color: green;
}

#slide-selectbar{
    position: absolute;
    bottom: 0; left: 0;
    border-color: blue;
}

.side-selectbar img{
    margin: 0 auto;
	border:5px solid red;
}
