*{margin: 0; padding: 0;}

input{
    display: none;
}
body{
    font-family: 'Black And White Picture', sans-serif;
    background-color: black;
	width: 960px;
	margin: 0 auto;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

img{
	border: 0;
}

.menu-button{
    height: 50px;
    margin: 15px auto;
    text-align: center;
    display: block;
    font-size: 40px;
    color: rgb(177, 177, 177);
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
    cursor: pointer;
}
.menu-button:hover{
    color:white;
}

.game-level-button:hover{
    cursor: pointer;
}
.text-btn{
    height: 50px;
    margin: 15px auto;
    text-align: center;
    display: block;
    font-size: 20px;
    color: rgb(177, 177, 177);
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
    cursor: pointer;

}
.text-btn:hover{
    color: white;
}

#game-guide{
    display: none;
    background-color: black;
}

#game-scn{
    display: none;

}
#game-preview{
    display: none;
    overflow: hidden;
    background-color: black;
}
#game-script{
    margin-top: 30px;
}
.popup-pre{
	position:fixed;
	top:0;
	left:0;

    text-align: center;
    color: white;
    padding: 10px 10px 10px 10px;
	z-index: 1;
	width: 1000px;
    height: 500px;
    border-radius: 5px;
}

.popup{
    position:fixed;
	top:0;
	left:0;
    text-align: center;
    width: 500px;
    height: 500px;
	z-index: 1;
}

#gameState{
    display: none;
}
#game-level{
    padding-top: 100px;
    /* border: 1px solid green; */
    height: 600px;
    width: 900px;
    /* background-color: white; */
    
   
    text-align: center;
}
#go-back{
    position: fixed;
    bottom: 0;
}
.game-level-button {
    height: 300px;
    width: 300px;
    text-align: center;
    line-height: 300px;
    margin: 3px;
    border: 2px solid white;
    float: left;
    color: white;
    font-size: 50px;
    background-color: black;
}
.select-level{
    margin: 0 auto;
    width: 930px;
    height: 350px;
    
    display: hidden; 
}

#game{
    position: relative;
    height: 800px;
    border-color: black;
    display: none;
}

#game-home{
    position: absolute;
    top: 10px; left:0;
    margin: 10px 0;
    width: 50px; height: 50px;
    background-color: white;
    border : 2px solid white;
    border-radius: 10px;
    background-image: url("/resources/img/setting.png");
    background-size: cover;
}

#game-home-content{
    display: none;
}

#time{
    position: absolute;
    top: 10px; left: 60px;
    margin: 10px 0;
    width: 200px; height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: white;
    border : 2px solid white;
    border-radius: 10px;
    font-size: 20px;
}

#score{
    position:absolute;
    top: 10px; left: 270px;
    margin: 10px 0;
    width: 200px; height: 50px;
    line-height: 50px;
    text-align:center;
    background-color: white;
    border: 2px solid white;
    border-radius:10px;
    font-size: 20px;
}

#life{
    position: absolute;
    top: 10px; right: 0;
    width: 350px; height: 70px;
    border : 2px solid white;
    border-radius: 10px;
}

.l_img{
    float: left;
    margin: 10px;
}

#game-screen {
    position: absolute;
    top: 90px; left: 0;
}

#myCanvas {
    margin: 0 auto;
    background-size: cover;
    border: 2px solid white;
    border-radius: 10px;
}

#slide-selectbar{
    position: absolute;
    bottom: 0; left: 0;
    border-color: blue;
}

.side-selectbar img{
    margin: 0 auto;
	border:5px solid red;
}

#item-bar{
    overflow: hidden;
    margin: 0 auto;
}

.item{
    text-align: center;
    overflow: hidden;
    float: left;
    width: 650px;
    height:100px;

    border-radius: 10px;
    margin: 10px 25px;
    margin-left: 50px;
    
    background-color: white;
    line-height: 140px;
}

.next{
    text-align: center;
    overflow: hidden;
    float: left;
    width: 180px;
    height:100px;
    margin: 10px 10px;
}

.next-item{
    
    width: 130px;
    height: 60px;
    padding:3px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
    line-height: 80px;
}


#game-title-section{
    display: block;
    width: 300px;
    margin: 30px;
}
#game-guide{
    display: none;
}

.tab-btn{
    text-align: center;
    display: block;
    width: 140px;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    border: 2px solid;
    margin: 20px auto;
    border-radius:5px;
}

.tab-btn:hover{
    color: black;
    background-color: white;
}

#game-description-content{
    margin: 0 50px
}

.tab-title{
    height: 250px;
    width: 130px;
    margin-bottom: 10px;
    display: block;
    float: left;

}

#profile{
    width: 250px;
}

.content{
    font-size: 30px;
}


#game-overview{
    display: none;
}

#game-overview div{
    display: none;
    margin: 10px 0;
    color: rgb(177, 177, 177);
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
}

#game-overview div h2{
    margin: 10px 0;
}

#score-result{
    font-size: 20px;
}

#game-result-lose h2:nth-of-type(1):hover{
    color: white;
    cursor: pointer;
}

#game-result-lose h2:nth-of-type(2):hover{
    color: white;
    cursor: pointer;
}

#game-result-12 h2:nth-of-type(1):hover{
    color: white;
    cursor: pointer;
}

#game-result-12 h2:nth-of-type(2):hover{
    color: white;
    cursor: pointer;
}

#game-result-3:hover{
    color: white;
    cursor: pointer;
}

#game-startview{
    display: none;
}
.imgBox{
    line-height: 500px;
}


.box{
    width: 200px;
    height: 200px;
    overflow: hidden;
}


#vol{
    position: absolute;
    top: 10px; left: 0px;
    margin: 10px 0;
    width: 50px; height: 50px;
    line-height: 50px;
    text-align: center;
    border : 2px solid white;
    border-radius: 10px;
    background-color: white;
    background-image: url("/resources/img/sound.png");
    background-size: cover;
}
