*{margin: 0; padding: 0;}

input{
    display: none;
}
body{
    background-image: url("../resources/img/background.jpeg");
    background-size: cover;
	width: 960px;
	margin: 0 auto;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

img{
	border: 0;
}

#game-level{
    padding-top: 100px;
    /* border: 1px solid green; */
    height: 600px;
    width: 900px;
    /* background-color: white; */
    
   
    text-align: center;
}
#goback{
    position: fixed;
    bottom: 0;
}
.game-level-button {
    height: 300px;
    width: 300px;
    text-align: center;
    line-height: 300px;
    margin: 3px;
    border: 2px solid white;
    float: left;
    color: white;
    font-size: 50px;
    background-color: black;
}
.select-level{
    margin: 0 auto;
    width: 930px;
    height: 350px;
    
    display: hidden; 
}

#game{
    position: relative;
    height: 800px;
    border-color: black;
}

#time{
    position: absolute;
    top: 0; left: 0;
    width: 200px; height: 70px;
    line-height: 70px;
    text-align: center;
    border: 4px dotted brown;
    border-radius: 10px;
    font-size: 20px;
}

#life{
    position: absolute;
    top: 0; right: 0;
    width: 350px; height: 70px;
    border: 4px dotted brown;
    border-radius: 10px;
}

.l_img{
    float: right;
    margin: 10px;
}

#game-screen {
    position: absolute;
    top: 170px; left: 0;
    border: 1px solid red;
    display: none;
}

#myCanvas {
    margin: 0 auto;
    border: 1px solid black;
}

#slide-selectbar{
    position: absolute;
    bottom: 0; left: 0;
    border-color: blue;
}

.side-selectbar img{
    margin: 0 auto;
	border:5px solid red;
}
