*{margin: 0; padding: 0;
}

input{
    display: none;
}
body{
    font-family: 'Black And White Picture', sans-serif;
    background-image: url("../resources/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
	width: 960px;
	margin: 0 auto;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

img{
	border: 0;
}

#page-wrapper{
    margin:120px auto;
    background-size: 960px 100%;
}

header{
    text-align: center;
}
footer{
    position: fixed;
    bottom: 0;
}
#main-menu{
    height: 200px;
    padding: 50px;
}


.menu-button{
    height: 50px;
    margin: 15px auto;
    text-align: center;
    display: block;
    font-size: 40px;
    color: rgb(177, 177, 177);
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
    cursor: pointer;
}
.menu-button:hover{
    color:white
}

.menu-button div{
    display: none;
}

#game-description-content{
    display: none;
    background-color: white;
    padding: 10px;
}

#option-content{
    display: none;
    background-color:white;
    padding: 10px;
}


.popup{
	position:fixed;
	top:0;
	left:0;
	background-color: white;
    padding: 0 10px 10px 10px;
	z-index: 1;
	width: 600px;
    height: 300px;
	border:2px solid black;
    border-radius: 5px;
}

.tab-btn{
    text-align: center;
    display: block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    border: 2px solid;
    margin: 20px;
    border-radius:5px;
}

.tab-btn:hover{
    color: white;
    background-color: black;
}

.tab-title{
    height: 250px;
    width: 130px;
    margin-bottom: 10px;
    display: block;
    float: left;

}

.content {
    overflow: auto;
    margin: 20px 10px;
    height: 250px;
    width: 450px;
    float: right;
    display: none;
}

h2:hover{
    cursor: pointer;
}

input:nth-of-type(1):checked ~ div:nth-of-type(1) {
	display: block;
}
input:nth-of-type(2):checked ~ div:nth-of-type(2) {
	display: block;
}
input:nth-of-type(3):checked ~ div:nth-of-type(3) {
	display: block;
}
input:nth-of-type(4):checked ~ div:nth-of-type(4) {
	display: block;
}
